body {
    background-color: rgb(73, 73, 73);
}

#character-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#character {
    background-color: rgb(20, 20, 20);
    width: 600px;
    height: 500px;
    margin: auto;
    display: flex;
    color: white;
    align-items: center;
    gap: 50px;
    padding: 50px;
    border-radius: 5px;
}

#character-image {
    border-radius: 5px;
    border: 1px solid white;
}

#ch-text {
    font-size: 20px;
}

#btn {
    text-align: center;
}

#bkc-btn {
    margin-top: 15px;
    width: 150px;
    height: 50px;
    background-color: rgb(20, 20, 20);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

#bkc-btn:hover {
    cursor: pointer;
    background-color: rgb(41, 40, 40);
    transform: scale(105%);
}