body {
    background-color: rgb(73, 73, 73);
}

#logo {
    background-color: rgb(20, 20, 20);
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

#logo-image {
    width: 500px;
}

#filter-control {
    padding: 50px;
    display: flex;
    justify-content: center;
    column-gap: 6px;
}

#name-searche {
    padding: 15px;
    width: 270px;
    border-radius: 5px;
    border: 1 px solid black;
}

#character-status, #max-page {
    padding: 14px;
    border-radius: 5px;
    border: 1 px solid black;
}

#apl-filter{
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(20, 20, 20);
    color: white;
    border: 1px solid white;
    width: 100px;
}

#apl-filter:hover {
    cursor: pointer;
    background-color: rgb(41, 40, 40);
    transform: scale(105%);
}

#character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    gap: 15px;
    width: 1000px;
    margin: auto;
}

#character {
    border: 1px solid black;
    width: 200px;
    height: 250px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(20, 20, 20);
    color: white;
}

#character:hover {
    transform: scale(105%);
    border: 1px solid white;
    cursor: pointer;
}

#character-image {
    width: 100px;
    border-radius: 5px;
}

#character-name {
    font-weight: bold;
}

#buttons-page{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 6px;
    
}

#fisrt-page,#previus-page, .page-number, #next-pag, #last-page, #page-numbers{
    width: 35px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(20, 20, 20);
    color: white;
    border: 1px solid white;
}

#fisrt-page:hover,#previus-page:hover, .page-number:hover, #next-pag:hover, #last-page:hover{
    cursor: pointer;
    background-color: rgb(41, 40, 40);
    transform: scale(105%);
}

.active{
    color: darkorange;
}